{% extends "layout.html" %}

{% block title %} Artículos {% endblock%}

{% block content %}

<h1 class="title">Listado de Artículos</h1>

    <ul>
        {% for articulo in articulos %}
            <li>
                <h4>{{articulo.id}}. {{articulo.title}}</h4>
                    <p>
                        {{articulo.content}}
                        </br>
                        <a href="{% url "borrar" articulo.id %}">Eliminar</a>
                    </p>
                </br>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
