{% extends "layout.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<!-- Esto es un comentario en HTML -->

{% comment "Esto es un comentario"%}
    <h1> Esto es un comentario </h1>
{% endcomment %}

<h1 class="title">{{title}}</h1>

<p>{{mi_variable}}</p>


{% if nombre and nombre == "José Mercado" %}
    <p>{{nombre}}</p>
{% else %}
    <strong>El nombre no existe o no coincide</strong>
{% endif %}

<h3>Lista de lenguajes de programación</h3>

<ul>
    {% for lenguaje in lenguajes %}
        <li>{{forloop.counter}}. {{lenguaje}} </li>
    {% empty %}
        <P>No hay lenguajes para mostrar</p>
    {% endfor %}
</ul>

<p>Números del 1 al 100</p>

{% endblock %}