<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        <!-- Acá va el títutlo-->
        {% endblock %}| Ontos
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}">
</head>
<body>

    <!-- Cabecera de la página-->
    <header>
        <div id="logotipo">
            <!-- Logo Django-->
            <img src=" {% static "img/logo.png" %}" alt="Logo"/>
            <h1>Sitio web con Django</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{% url "inicio" %}">Inicio</a>
            </li>
            <li>
                <a href="{% url "articulos" %}">Artículos</a>
            </li>
            <li>
                <a href="{% url "create" %}">Crear Artículos</a>
            </li>
            <li>
                <a href="{% url "create_full" %}">Crear Artículos full</a>
            </li>
            <li>
                <a href="{% url "hola_mundo" %}">Hola Mundo</a>
            </li>
            <li>
                <a href="{% url "pagina" %}">Página de pruebas</a>
            </li>
            <li>
                <a href="{% url "contacto" "José" "Mercado" %}">Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">
        <div id="box">
            {% block content %}
                <strong>Contenido por default</strong>
                <!-- Código que viene de los templates -->
            {% endblock %}
        </div>
    </div>

    <footer>
        Master en Python | Udemy - {% now "d/m/y" %}
    </footer>

</body>
</html>