/* Estilos generales */

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Arial, Helvetica;
}

body {
    background-color: #f2f2f2;
}

/* Estilos cabecera */ 
header {
    width: 1212px;
    height: 140px;
    background-color: #23282b;
    margin: 0 auto;
}

#logotipo h1 {
    display: block;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    color: #42a096;
}


